-e git://github.com/tweepy/tweepy.git@4870918dfeff0a7dd39af2bb30599131b52aa077#egg=tweepy
pymongo==3.4.0
python-dotenv==0.6.2
psycopg2==2.6.2
dj-database-url==0.4.2
gunicorn==19.6.0
django==1.10.5
requests==2.13.0
bs4==4.5.3
re==2.2.1
sklearn==0.18.1
pandas==0.19.2
nltk==3.2.2
