<head>
  <link rel="shortcut icon" href="http://emojipedia-us.s3.amazonaws.com/cache/ab/77/ab7774e9818de3e23a307af6989b65b2.png" type="image/x-icon" />
  <title>VERY FUN TWEETS</title>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>


<div class="container">
  <h1>About us!</h1>
</div

<div class="row-fluid">
  <div class="col-md-4">
    <p align="center">The dreamer</p>
    <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13627030_10154380554192792_1566541828674714477_n.jpg?oh=27a476f5d658dfaf451da7a29aad39c9&oe=5925D369" height=400 width=400>
  </div>
  <div class="col-md-4">
    <p align="center">The dreamer</p>
    <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13327564_10157063251970096_432201376256666661_n.jpg?oh=a5a6e5fc5bdc84daad63e0ffc0a2d9d7&oe=592775E1" height=400 width=400>
  </div>
  <div class="col-md-4">
    <p align="center">The dreamer</p>
    <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t31.0-8/1492216_10153426892457497_3354006949634139417_o.jpg?oh=88014c93d040ef09c49a510e446e5d04&oe=592D8868" height=400 width=400>
  </div>
</div>
