<head>
  <link rel="shortcut icon" href="http://emojipedia-us.s3.amazonaws.com/cache/ab/77/ab7774e9818de3e23a307af6989b65b2.png" type="image/x-icon" />
  <title>VERY FUN TWEETS</title>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

<nav class="navbar navbar-default" style= "background-color:#82C5A7">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">
        <img alt="VTF" style="width:width:20px;height:20px;" src="http://emojipedia-us.s3.amazonaws.com/cache/ab/77/ab7774e9818de3e23a307af6989b65b2.png">
      </a>
    </div>
      <p class="navbar-text">VFT</p>
    <p class="navbar-text navbar-right"><a href= "./about" class="navbar-link">ABOUT</a></p>
  </div>
</nav>

<style>
ul {
  margin-top: 10px;
  font-size: 16px;
}
</style>

<div class="container">
  <h1 class="text-center">About us!</h1>
</div

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">the inside man</h3>
      <img class="img-responsive center-block" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13627030_10154380554192792_1566541828674714477_n.jpg?oh=27a476f5d658dfaf451da7a29aad39c9&amp;oe=5925D369" height="400" width="400">
      <ul>
        <li>Favorite Hashtag: #hatersgonnahate</li>
        <li>Favorite Emoji: 🙃</li>
        <li>Favorite Website: www.veryfuntweets.com</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">the dreamer</h3>
      <img class="img-responsive center-block" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13327564_10157063251970096_432201376256666661_n.jpg?oh=a5a6e5fc5bdc84daad63e0ffc0a2d9d7&amp;oe=592775E1" height="400" width="400">
      <ul>
        <li>Favorite Hashtag: #til</li>
        <li>Favorite Emoji: 👻</li>
        <li>Favorite Website: www.veryfuntweets.com</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">the money guy</h3>
      <img class="img-responsive center-block" src="https://scontent-ort2-1.xx.fbcdn.net/v/t31.0-8/1492216_10153426892457497_3354006949634139417_o.jpg?oh=88014c93d040ef09c49a510e446e5d04&amp;oe=592D8868" height="400" width="400">
      <ul>
        <li>Favorite Hashtag: #LeslieKnope</li>
        <li>Favorite Emoji: 🤤</li>
        <li>Favorite Website: www.veryfuntweets.com</li>
      </ul>
    </div>
  </div>
