<head>
  <link rel="shortcut icon" href="https://emojipedia-us.s3.amazonaws.com/thumbs/320/mozilla/36/rocket_1f680.png" type="image/x-icon" />
  <title>VERY FUN TWEETS</title>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

<nav class="navbar navbar-default" style= "background-color:#82C5A7">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">
        <img alt="VTF" style="width:width:20px;height:20px;" src="https://emojipedia-us.s3.amazonaws.com/thumbs/320/mozilla/36/rocket_1f680.png">
      </a>
    </div>
      <p class="navbar-text">VFT</p>
    <p class="navbar-text navbar-right"><a href= "./about" class="navbar-link">ABOUT</a></p>
  </div>
</nav>

<style>
ul {
  margin-top: 10px;
  font-size: 16px;
}
</style>

<div class="container">
  <h1 class="text-center">About us!</h1>
</div

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">the inside man</h3>
      <img src="https://drive.google.com/uc?export=view&id=15jwzaEc30VfVjQz_U1fgHF8NqefMP9Dy" alt="Chelsea" height="400" width="400"/>
      <ul>
        <li>Favorite Hashtag: #hatersgonnahate</li>
        <li>Favorite Emoji: 🙃</li>
        <li>Favorite Website: www.veryfuntweets.com</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">the dreamer</h3>
      {% load static %}
      <img src="https://drive.google.com/uc?export=view&id=1FyDnfhfPqGnYKpqXG8BAghuAcf2Gv9SU" alt="Sush" height="400" width="400"/>
      <ul>
        <li>Favorite Hashtag: #til</li>
        <li>Favorite Emoji: 👻</li>
        <li>Favorite Website: www.veryfuntweets.com</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">the money guy</h3>
      <img src="https://drive.google.com/uc?export=view&id=1mDreSGY5E5DHCiFb_GmIAMs0HgWOyk3q" alt="Haylee" height="400" width="400"/>
      <ul>
        <li>Favorite Hashtag: #LeslieKnope</li>
        <li>Favorite Emoji: 🤤</li>
        <li>Favorite Website: www.veryfuntweets.com</li>
      </ul>
    </div>
  </div>
