<!DOCTYPE html>

<head>
  <link rel="shortcut icon" href="https://emojipedia-us.s3.amazonaws.com/thumbs/320/mozilla/36/rocket_1f680.png" type="image/x-icon" />
  <title>VERY FUN TWEETS</title>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

<div style="margin-left: auto; margin-right:auto; width:700px;">


<h2># of Hashtags</h2>
  <h3>{{ hashtags.count }}</h3>

<h2>Hashtags</h2>
{% for hashtag in hashtags %}
  <p>{{ hashtag.name }}</p>
{% endfor %}

</div>
