<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="http://emojipedia-us.s3.amazonaws.com/cache/ab/77/ab7774e9818de3e23a307af6989b65b2.png" type="image/x-icon" />
	<title>VERY FUN TWEETS</title>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

<style>
.main{
	margin: auto;
}
</style>

<html>

<body>

<div style="margin-left: auto; margin-right:auto; width:700px;">

	<h1> VERY FUN TWEETS </h1>

	<form action="/results">
	  Enter your search term and get ready to be BLOWN AWAY:<br>
	  <button style="float:right;"> <i class="glyphicon glyphicon-search"></i></button>
	  <div style="overflow:hidden; padding-right: .5em;">
	  	<input type="text" style="width:100%;" id="search_term" name="search_term"><br>
	  </div>
	 </form>

</div>



 </body>
 </html>
