<!DOCTYPE html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

<style>
.main{
	margin: auto;
}
</style>

<html>

<body>

<div style="margin-left: auto; margin-right:auto; width:700px;">

	<h1> VERY FUN TWEETS </h1>

	<form action="/results">
	  Enter a hashtag to find out why it spiked!<br>
	  <button style="float:right;"> <i class="glyphicon glyphicon-search"></i></button>
	  <div style="overflow:hidden; padding-right: .5em;">
	  	<input type="text" style="width:100%;" id="search_term" name="search_term"><br>
	  </div>
	 </form>

</div>



 </body>
 </html>
